/*  
    landing-page.css
    Stylesheet file untuk landing page
    SI IFEST#7 2019
*/

/* Import */
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Open+Sans|Oswald:700');

body{
    background-color: rgb(22, 22, 22) !important;
    font-family: 'Open Sans', sans-serif;
}

/* Hero Section */
.hero {
    min-height: 100vh;
}

.hero-logo-img {
    max-height: 75px;
}

.hero-title {
    font-size: 22pt;
    font-weight: bold;
    color: #afb1b3;
    margin: 20px;
}

.hero-title-big {
    font-size: 80pt;
    font-weight: bold;
    color: #fff;
    margin: 20px auto;
    line-height: 100px;
    font-family: 'Oswald', sans-serif;
}

.hero-desc {
    font-size: 15pt;
    color: #afb1b3;
}

.hero-title-desc {
    color: rgb(224, 146, 0);
    font-size: 30pt;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 30px;
    font-family: 'Gloria Hallelujah', cursive;
}

/* About section */
.about--title {
    font-size: 3em;
    line-height: 1.2em;
    font-weight: bold;
}

.about {
    background-color: #001f38f8;
    min-height: 100vh;
    color: #ddf3fd !important;
    vertical-align: middle;
}

.about--image {
    max-height: 250px;
    margin: 20px auto;
}

.about--description {
    font-size: 1.5em !important;
}

/* ketentuan */
.ketentuan {
    background-color: whitesmoke;
}

/* Banner SignUp */
.banner-signup {
    background-color: rgb(22, 18, 58);
    min-height: 300px;
    clear: both;
}

.banner-signup-title {
    color: white;
    font-size: 30pt;
}

.banner-signup-subtitle {
    color: rgb(0, 189, 179);
    font-size: 1.5em;
}

.button-daftar {
    border: none;
    font-size: 20pt !important;
    background-color: #245ec6;
    transition: 0.3s;
    color: white !important;
    margin: 15px auto;
}

.button-daftar:hover {
    background-color: #2b2b2b;
    transition: 0.3s;
}

/* footer */
.social__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.social__items {
    margin: 10px;
    padding: 5px;
    font-size: 2em;
}
.image__icon{
    transition: 0.3s !important;
}
.image__icon:hover {
    transition: 0.3s !important;
}
.footer__title {
    font-size: 1.2em;
}
.footer__text {
    font-size: 1em;
}
.footer {
    padding-bottom: 10vh;
    color: whitesmoke !important;
}

.footer-text {
    color: white !important;
}

/* footer-image */
.footer-image {
    max-width: 200px !important;
}