/*  
    landing-page.css
    Stylesheet file untuk landing page
    SI IFEST#7 2019
*/

/* Import */
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Open+Sans|Oswald:700');

/* General rules */
html, body {
    width: 100%;
    overflow-x: hidden;
}

/* Another important rule */
.section:focus {
   outline:none;
}

/* Another important rule */
.footer:focus {
    outline:none;
 }
 

/* Navbar rules */
.navbar {
   margin-top: 16px;
   box-sizing: border-box;
   width: 100%;
   padding: 0 15vh;
   background-color: transparent;
}

.navbar-item, .navbar-link {
   padding: 15px 1rem;
}

.navbar-item img {
   max-height: 3rem;
}

.navbar-burger {
   height: auto;
}

/* Navbar buttons */
.button-link {
   color: #f0f0f0 !important;
   transition: 0.2s;
}

.button-link:hover{
   background-color: #222222 !important;
   border-radius: 10px;
   color: #68c2ff !important;
   transition: 0.2s;
}

@media screen and (min-width: 851px) {
    .button-bordered {
        background-color: #222222 !important;
        border-radius: 10px;
        color: #f0f0f0 !important;
        margin: 0px 5px;
        transition: 0.2s;
     }
     
     .button-bordered:hover {
        background-color: #68c2ff !important;
        color: #222222 !important;
        transition: 0.2s;
     }
 }

/* Responsive rules */
@media screen and (max-width: 850px) {
    .navbar {
        padding: 0;
        background-color: inherit;
   }
   .is-active {
       background-color: inherit;
     }
     .button-bordered
     {
         background-color: inherit;
     }
     .about
     {
         clear: both;
         height: 150vh;
     }
 }

body{
    background-color: rgb(22, 22, 22) !important;
    font-family: 'Open Sans', sans-serif;
}

/* Hero Section */
.hero {
    min-height: 100vh;
    background-image: url('/images/main-hero.png');
    background-repeat: no-repeat;
    background-size: auto 70vh;
    background-position-x: center;
    background-position-y: 40px;
}

.hero-logo-img {
    max-height: 75px;
}

.hero-title {
    font-size: 22pt;
    font-weight: bold;
    color: #afb1b3;
    margin: 20px;
}

.hero-title-big {
    font-size: 80pt;
    font-weight: bold;
    color: #fff;
    margin: 20px auto;
    line-height: 100px;
    font-family: 'Oswald', sans-serif;
}

.hero-desc {
    font-size: 15pt;
    color: #afb1b3;
}

.hero-title-desc {
    color: rgb(224, 146, 0);
    font-size: 30pt;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 30px;
    font-family: 'Gloria Hallelujah', cursive;
}

/* About section */
.about--title {
    font-size: 3em;
    line-height: 1.2em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.about {
    background-color: #001f38f8;
    background: url('/images/clouds.png') no-repeat left bottom;
    min-height: 105vh;
    color: #ffffff !important;
    vertical-align: middle;
}

.about--image {
    max-height: 250px;
    margin: 20px auto;
}

.about--description {
    font-size: 1.5em !important;
    text-align: center;
    color: #ffffff !important;
}

/* ketentuan */
.ketentuan {
    background-color: whitesmoke;
    margin-top: -120px;
}

/* Banner SignUp */
.banner-signup {
    background-color: rgb(22, 18, 58);
    min-height: 300px;
    clear: both;
}

.banner-signup-title {
    color: white;
    font-size: 30pt;
}

.banner-signup-subtitle {
    color: rgb(0, 189, 179);
    font-size: 1.5em;
}

.button-daftar {
    border: none;
    font-size: 20pt !important;
    background-color: #245ec6;
    transition: 0.3s;
    color: white !important;
    margin: 15px auto;
}

.button-daftar:hover {
    background-color: #2b2b2b;
    transition: 0.3s;
}

/* footer */
.social__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.social__items {
    margin: 10px;
    padding: 5px;
    font-size: 2em;
}
.image__icon{
    transition: 0.3s !important;
}
.image__icon:hover {
    transition: 0.3s !important;
}
.footer__title {
    font-size: 1.2em;
}
.footer__text {
    padding-top: 50px;
    font-size: 1em;
}
.footer {
    padding-bottom: 10vh;
    color: whitesmoke !important;
}

.footer-text {
    color: white !important;
}

/* footer-image */
.footer-image {
    max-width: 200px !important;
}

/* timeline */

.timeline {
    background-color: white !important;
    min-height: 100vh;
    clear: both;
    padding-bottom: 150px;
}
.entries {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
/* The actual timeline (the vertical ruler) */
.entries::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(0, 16, 46);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.entry {
    padding: 0 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.entry::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: rgb(255, 255, 255);
    border: 4px solid #032dff;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.title__timeline {
    margin-bottom: 50px;
}
.timeline__box {
    margin-top: 50px;
}
.left {
    left: 0;
}
.right {
    left: 50%;
}
.right::after {
    left: -12px;
}
.entry__body {
    padding: 20px 30px;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 850px) {
   /* Place the timelime to the left */
    .entries::after {
        left: 28px;
   }
   /* Full-width containers */
    .entry {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
   }
   /* Make sure that all arrows are pointing leftwards */
    .entry::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
   }
   /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
   }
   /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
   }
}

li {
    margin: 10px auto 5px 50px;
}

.ketentuan-title {
    margin-top: 20px;
}

.section-fa {
    font-size: 30pt;
    margin: 10px auto;
}

.title-container {
    margin-bottom: 5px !important;
}

.ketentuan-title {
    font-size: 1.5em;
}

.hadiah-column {
    margin-top: 20px;
}

.hadiah {
    color: white !important;
}

.fa-question-circle {
    margin-bottom: 15px;
}

/* Carousel */
.images__carousel{
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    white-space: nowrap;
}
.image__item{
    width: 25%;
    max-height: 300px;
    object-fit: cover;
    transition: 0.3s;
    -webkit-filter: grayscale(0);
    filter: none;
}
.image__item:hover{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.area-peserta-button {
        width: 150px;
        height: 50px;
        background-color: #245ec6;
        transition: 0.3s;
        color: white !important;
        margin: 30px 20px;
        border: none;
    }
    
    .area-peserta-button:hover {
        background-color: #2b2b2b;
        transition: 0.3s;
    }